
#feedback-form-page .content {
    width: 43%;
    margin: 70px auto;
}

#feedback-form-page .content .card {
    margin-top: 50px;
    padding: 40px;
    position: relative;
}

#feedback-form-page .content .card > svg {
    position: absolute;
    top: -28px;
    width: 56px;
    height: 56px;
}

#feedback-form-page .content h1 {
    margin: 20px 0 35px;
    color: var(--color-secondary);
}

#feedback-form-page .content .field {
    margin-bottom: 30px;
}

#feedback-form-page .content .field label {
    color: var(--color-secondary);
    font-weight: 800;
}

#feedback-form-page .content .field p {
    margin-bottom: 10px;
}

#feedback-form-page .content .field input,
#feedback-form-page .content .field textarea,
#feedback-form-page .content .field .custom-select {
    width: 100%;
}
#feedback-form-page .content .field input,
#feedback-form-page .content .field textarea {
    margin-bottom: 5px;
    padding: 15px 20px;
}

#feedback-form-page .content .field .error-message {
    color: #D73737;
}

#feedback-form-page .content .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#feedback-form-page .content .buttons a {
    margin-right: 15px;
}


/* RESPONSIVENESS */

#feedback-form-page .content {
    max-width: 490px;
}

@media (max-width: 980px) {

    #feedback-form-page .content {
        width: 65%;
    }

}

@media (max-width: 768px) {

    #feedback-form-page .content {
        width: 70%;
    }

}

/* RESPONSIVENESS - END */

