
.feedback-form {
    padding: 45px;
}

.feedback-form h2 {
    margin-bottom: 45px;
}

.field {
    margin-bottom: 30px;
}

.field p {
    color: #647196;
    font-size: 14px;
    margin-bottom: 15px;
}

.field input, .field textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.field textarea {
    resize: none;
    height: 100px;
}

.field .error-message {
    color: #D73737;
    font-size: 14px;
}

.feedback-form .action-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.feedback-form .action-buttons .button-group button:nth-child(2) {
    margin-left: 15px;
}