
.app {
  margin: 70px 120px;
  display: flex;
  justify-content: space-between;
}

.sidebar, .suggestion-list {
  display: inline-block;
  vertical-align: top;
}

/* SIDEBAR */

.sidebar {
  width: 23%;
}

.board-name {
  color: white;
  background-image: url('images/background-header-desktop.png');
  background-size: cover;
}

.tag-list {
  margin: 20px 0;
}

.tag-list span {
  color: #4661E6;
  margin: 6px;
  padding: 7px 15px;
}

.roadmap-sidebar .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.roadmap-sidebar .header h3 {
  margin: 0;
}

.roadmap-sidebar .list ul {
  padding-left: 20px;
}

.roadmap-sidebar .list li div {
  color: #647196;
  display: flex;
  justify-content: space-between;
}

.roadmap-sidebar .list li .count {
  font-weight: 600;
}


.roadmap-sidebar .list li:first-child::marker {
  color: #F49F85;
}

.roadmap-sidebar .list li:nth-child(2)::marker {
  color: #AD1FEA;
}

.roadmap-sidebar .list li:nth-child(3)::marker {
  color: #AD1FEA;
}



/* SIDEBAR - END */

/* SUGGESTIONS */

.suggestion-list {
  width: 74.5%;
}

.suggestion-header {
  background: #373F68;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.feedback {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.votes span {
  margin-top: 10px;
}

/* SUGGESTONS - END */
